Repository hmcts/idam-web-public, pull requests merged in 2019-12, with the labels that each got.

#288 SIDM-3397 Expired Reset Password link.
  build.gradle
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/SPIService.java
  src/main/webapp/WEB-INF/jsp/expiredPasswordResetLink.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/SPIServiceTest.java
Labels: ns:idam-web-public-pr-288

#293 SIDM-3499 Adjust link caption.
  src/main/resources/messages.properties
  src/main/webapp/WEB-INF/jsp/expiredPasswordResetLink.jsp
Labels: ns:idam-web-public-pr-293

#294 Probate's extended hours. (revert of the revert)
  src/main/webapp/WEB-INF/jsp/contactus.jsp
Labels: ns:idam-web-public-pr-294

#296 login with whitespaces in user email
  src/test/js/login_user_functional_test.js
Labels: ns:idam-web-public-pr-296

#295 SIDM-3411 Springboot whitelabel error
  src/main/webapp/WEB-INF/jsp/error.jsp
Labels: ns:idam-web-public-pr-295

#291 Duplicated code fix
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/SPIService.java
Labels: ns:idam-web-public-pr-291

#298 use real hmcts policyset in the tests
  src/test/js/shared/idam_helper.js
Labels: ns:idam-web-public-pr-298

#299 Sidm 3530 illegal chars
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/UserController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/ValidationService.java
  src/main/resources/messages.properties
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/ValidationServiceTest.java
Labels: ns:idam-web-public-pr-299

#301 SIDM-3554 Update working hours.
  src/main/webapp/WEB-INF/jsp/contactus.jsp
Labels: ns:idam-web-public-pr-301
