Repository hmcts/idam-web-public, pull requests merged in 2019-11, with the labels that each got.

#249 use new api/v1 policy endpoints
  src/main/resources/application.yaml
  src/test/js/shared/idam_helper.js
Labels: ns:idam-web-public-pr-249

#244 feat(SIDM-3294-otp-chain): otp authentication flow
  build.gradle
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/StrategicConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/MvcKeys.java
  src/main/java/uk/gov/hmcts/reform/idam/web/model/AuthorizeRequest.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyService.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/SPIService.java
  src/main/resources/application.yaml
  src/main/resources/messages.properties
  src/main/webapp/WEB-INF/jsp/verification.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/SPIServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/util/TestConstants.java
Labels: ns:idam-web-public-pr-244, ready for review

#252 feat(SIDM-3248): field validation: empty, numbers, length, incorrect
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/model/VerificationRequest.java
  src/main/resources/messages.properties
  src/main/webapp/WEB-INF/jsp/verification.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
Labels: ns:idam-web-public-pr-252, ready for review

#251 feat(SIDM-3294-sess-fix): fix session bug
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/StrategicConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyServiceTest.java
Labels: ns:idam-web-public-pr-251, ready for review

#254 feat(SIDM-3248-val3): update scenarios expired OTP and incorrect OTP
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/MvcKeys.java
  src/main/resources/messages.properties
  src/main/webapp/WEB-INF/jsp/verification.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
Labels: ns:idam-web-public-pr-254, ready for review

#253 Update contact us details.
  src/main/webapp/WEB-INF/jsp/contactus.jsp
Labels: ns:idam-web-public-pr-253

#255 feat(SIDM-3248-val4): otp: add support for too many attempts
  build.gradle
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
Labels: ns:idam-web-public-pr-255, ready for review

#260 Revert "Update contact us details. (#253)"
  src/main/webapp/WEB-INF/jsp/contactus.jsp
Labels: ready for review

#262 SIDM 3357 change link expired page
  src/main/resources/messages.properties
  src/main/webapp/WEB-INF/jsp/expiredPasswordResetLink.jsp
  src/test/js/expired_links_test.js
Labels: ns:idam-web-public-pr-262, ready for review

#261 feat(SIDM-3248-val5): otp: fix multiple policies and sensitive data
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyService.java
  src/main/resources/messages.properties
  src/main/webapp/WEB-INF/jsp/verification.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyServiceTest.java
Labels: ns:idam-web-public-pr-261, ready for review

#263 feat(SIDM-3248-val6): otp: fix attribtues
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/model/VerificationRequest.java
  src/main/webapp/WEB-INF/jsp/verification.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
Labels: ready for review

#264 feat(SIDM-3248-fix-link): otp: fix url and link
  src/main/webapp/WEB-INF/jsp/verification.jsp
Labels: ready for review

#265 feat(SIDM-3248-duplicate-params): fix duplicate params
  src/main/webapp/WEB-INF/jsp/verification.jsp
Labels: ready for review

#256 Sidm 3294 mfa e2e tests
  gradle/wrapper/gradle-wrapper.properties
  src/test/js/mfa_e2e_test.js
  src/test/js/reset_password_test.js
  src/test/js/self_registration_test.js
  src/test/js/shared/idam_helper.js
  src/test/js/shared/random_data.js
Labels: ns:idam-web-public-pr-256

#258 [v1.5.1] feat(SIDM-3128-survey): add pageurl parameter to smartsurvey link
  src/main/webapp/WEB-INF/tags/wrapper.tag
Labels: ns:idam-web-public-pr-258, ready for review

#259 Sidm 3296 waf password configure test
  src/test/js/login_user_functional_test.js
  src/test/js/reset_password_test.js
  src/test/js/self_registration_test.js
Labels: ns:idam-web-public-pr-259

#267 Web public tests 1.5
  gradle/wrapper/gradle-wrapper.properties
  src/test/js/login_user_functional_test.js
  src/test/js/mfa_e2e_test.js
  src/test/js/reset_password_test.js
  src/test/js/self_registration_test.js
  src/test/js/shared/idam_helper.js
  src/test/js/shared/random_data.js
Labels: ns:idam-web-public-pr-267

#257 SIDM-3127 Remove “Is there a problem with this page?” element.
  src/main/webapp/WEB-INF/tags/wrapper.tag
Labels: ns:idam-web-public-pr-257

#268 feat(SIDM-3128-survey): add pageurl parameter to smartsurvey link (#258)
  src/main/webapp/WEB-INF/tags/wrapper.tag
Labels: ns:idam-web-public-pr-268, ready for review

#269 SIDM-3371 Makefile updates for AKS: force-update-pods, port-forward
  Makefile
Labels: ns:idam-web-public-pr-269

#266 feat(SIDM-2040-pw): update password reset messages
  build.gradle
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/resources/messages.properties
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/util/TestConstants.java
  src/test/js/reset_password_test.js
Labels: ns:idam-web-public-pr-266, ready for review

#270 feat(SIDM-3410-ips): filter out internal ips from policy valuation
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/StrategicConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyServiceTest.java
Labels: ns:idam-web-public-pr-270, ready for review

#271 feat(SIDM-3410-ips): filter out internal ips from policy valuation (#…
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/StrategicConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyServiceTest.java
Labels: ns:idam-web-public-pr-271, ready for review

#272 feat(SIDM-3410-ips-preview): remove filter pattern in preview
  infrastructure/idam-preview.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:idam-web-public-pr-272, ready for review

#273 Updating with for suggestions
  infrastructure/idam-preview.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:idam-web-public-pr-273

#277 This should fix the ArrAffinity token problem
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/StrategicConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/util/TestConstants.java
Labels: ns:idam-web-public-pr-277

#282 feat(SIDM-3441-sso): Policy eval: remove bearer auth token
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyService.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyServiceTest.java
Labels: ns:idam-web-public-pr-282, ready for review

#283 feat(SIDM-3441-sso): Policy eval: remove bearer auth token
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyService.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyServiceTest.java
Labels: ns:idam-web-public-pr-283, ready for review

#280 feat(SIDM-3437-redir): login/mfa: redirecting using slash
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
Labels: ns:idam-web-public-pr-280, ready for review

#285 feat(SIDM-3410-fix-def): use same escaping as preview which is tested
  infrastructure/variables.tf
Labels: ns:idam-web-public-pr-285, ready for review

#275 Include fix for 1.5
  infrastructure/idam-preview.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:idam-web-public-pr-275

#278 This should fix the affinity cookie issue
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/StrategicConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/util/TestConstants.java
Labels: ns:idam-web-public-pr-278

#287 feat(SIDM-3437-redir): login/mfa: redirecting using slash (#280)
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
Labels: ns:idam-web-public-pr-287, ready for review

#279 feat(SIDM-2040-pw-create): update create pwd
  src/main/java/uk/gov/hmcts/reform/idam/web/UserController.java
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/util/TestConstants.java
Labels: ns:idam-web-public-pr-279, ready for review

#289 Sidm 2040 fr password validation messages
  src/test/js/reset_password_test.js
  src/test/js/self_registration_test.js
Labels: ns:idam-web-public-pr-289

#290 feat(SIDM-3128-surveyfix): fix survey url and allow only client_id param
  src/main/webapp/WEB-INF/tags/wrapper.tag
Labels: ns:idam-web-public-pr-290, ready for review
