Repository hmcts/idam-web-public, pull requests merged in 2020-04, with the labels that each got.

#347 Improve test coverage.
  src/main/java/uk/gov/hmcts/reform/idam/web/Application.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelper.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/LocalePassingInterceptor.java
  src/test/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelperTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/helper/LocalePassingInterceptorTest.java
Labels: ns:idam, rel:idam-web-public-pr-347

#348 Welsh test coverage
  src/main/java/uk/gov/hmcts/reform/idam/web/config/OIDCLocaleChangeInterceptor.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelper.java
  src/test/java/uk/gov/hmcts/reform/idam/web/config/OIDCLocaleChangeInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelperTest.java
Labels: ns:idam, rel:idam-web-public-pr-348

#349 SIDM-3977 Add test to check if activation link can be used after the user has registered.
  src/test/js/self_registration_test.js
Labels: ns:idam, rel:idam-web-public-pr-349

#350 COVID-19 Contact Us pages changes (post Welsh)
  src/main/webapp/WEB-INF/jsp/contactus_cy.jsp
  src/main/webapp/WEB-INF/jsp/contactus_en.jsp
Labels: ns:idam, rel:idam-web-public-pr-350

#342 Sidm 3831 externalise text
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/contactus.jsp
  src/main/webapp/WEB-INF/jsp/contactus_cy.jsp
  src/main/webapp/WEB-INF/jsp/contactus_en.jsp
  src/main/webapp/WEB-INF/jsp/cookies.jsp
  src/main/webapp/WEB-INF/jsp/cookies_cy.jsp
  src/main/webapp/WEB-INF/jsp/cookies_en.jsp
  src/main/webapp/WEB-INF/jsp/privacypolicy.jsp
  src/main/webapp/WEB-INF/jsp/privacypolicy_cy.jsp
  src/main/webapp/WEB-INF/jsp/privacypolicy_en.jsp
  src/main/webapp/WEB-INF/jsp/tandc.jsp
  src/main/webapp/WEB-INF/jsp/tandc_cy.jsp
  src/main/webapp/WEB-INF/jsp/tandc_en.jsp
Labels: ns:idam, rel:idam-web-public-pr-342

#346 SIDM-3582 Fix incorrect error screen for expired account activation url.
  src/main/java/uk/gov/hmcts/reform/idam/web/UserController.java
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/expiredActivationLink.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/UserControllerTest.java
Labels: ns:idam, rel:idam-web-public-pr-346

#355 SIDM-3831 Fix Welsh translations.
  src/main/resources/messages_cy.properties
Labels: ns:idam, rel:idam-web-public-pr-355

#354 SIDM-3582 SIDM-3404 Account Activation link expired screen
  src/main/java/uk/gov/hmcts/reform/idam/web/UserController.java
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/expiredActivationLink.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/UserControllerTest.java
Labels: ns:idam, rel:idam-web-public-pr-354

#357 Welsh - fix AKS languages
  src/main/java/uk/gov/hmcts/reform/idam/web/config/MessagesConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/OIDCLocaleChangeInterceptor.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/StrategicConfigurationProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/idam/web/config/OIDCLocaleChangeInterceptorTest.java
Labels: ns:idam, rel:idam-web-public-pr-357

#358 SIDM-3908 - remove prod blocker
  Jenkinsfile_CNP
Labels: ns:idam, rel:idam-web-public-pr-358

#352 Sidm 4015 welsh functional tests
  src/test/js/mfa_e2e_test.js
  src/test/js/self_registration_test.js
  src/test/js/shared/idam_helper.js
  src/test/js/shared/welsh_constants.js
  src/test/js/welsh_language_test.js
Labels: ns:idam, rel:idam-web-public-pr-352

#364 merge master to demo
  Jenkinsfile_CNP
  charts/idam-web-public/values.aat.template.yaml
  security.sh
  src/main/resources/bootstrap.yaml
  src/test/js/policy_check_functional_test.js
  src/test/js/reset_password_test.js
  src/test/js/self_registration_test.js
  src/test/js/shared/idam_helper.js
Labels: ns:idam, rel:idam-web-public-pr-364

#361 add login with pin test
  src/test/js/shared/idam_helper.js
  src/test/js/uplift_user_test.js
Labels: ns:idam, rel:idam-web-public-pr-361
