Repository hmcts/idam-web-public, pull requests merged in 2020-07, with the labels that each got.

#402 Sidm4235 azure redis cache
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/variables.tf
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-402

#401 added reset password page after stale user tries logging in
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/MvcKeys.java
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/staleUserResetPassword.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/util/TestConstants.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-401

#403 improved unit testing for stale user login
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-403

#406 Sidm4403 disable session affinity cookie
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/resources/application.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-406

#405 fixed issue when redirecting we lose some variables. also fixed issue…
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/webapp/WEB-INF/jsp/staleUserResetPassword.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-405

#408 possible quality gate fix
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-408

#411 Fix for optional request params
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-411

#413 changed text within try again link
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/staleUserResetPassword.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-413

#410 feat(redis): make sandbox redis public for local dev
  infrastructure/idam-sandbox.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-410

#412 redirect user on activation to reset password success if user is a st…
  build.gradle
  src/main/java/uk/gov/hmcts/reform/idam/web/UserController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/SPIService.java
  src/test/java/uk/gov/hmcts/reform/idam/web/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/SPIServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/util/TestConstants.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-412

#390 SIDM-4092 FR AuthTrees
  build.gradle
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/ApiAuthResult.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/EvaluatePoliciesAction.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyService.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/SPIService.java
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/SPIServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/util/TestConstants.java
Labels: FR-Auth-Trees, ns:idam, prd:idam, rel:idam-web-public-pr-390

#404 Stale user tests
  src/test/js/account_lockout_reset_password_test.js
  src/test/js/cross_browser_test.js
  src/test/js/policy_check_functional_test.js
  src/test/js/reset_password_test.js
  src/test/js/self_registration_test.js
  src/test/js/shared/idam_helper.js
  src/test/js/shared/welsh_constants.js
  src/test/js/stale_user_login_test.js
  src/test/js/welsh_language_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-404

#409 SIDM-4377 Add redis integration
  build.gradle
  charts/idam-web-public/values.yaml
  src/main/resources/application-docker.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/idam/web/config/EmbeddedRedis.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-409

#420 chore(redis): remove redis tf code for 2.2 release
  dependency-check-suppressions.xml
  infrastructure/idam-sandbox.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-420

#422 Perftest 2.2
  Dockerfile
  Jenkinsfile_parameterized
  build.gradle
  dependency-check-suppressions.xml
  infrastructure/.terraform-version
  infrastructure/idam-demo.tfvars
  infrastructure/idam-ithc.tfvars
  infrastructure/idam-preview.tfvars
  infrastructure/idam-saat.tfvars
  infrastructure/idam-sandbox.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/UserController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/MessagesConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/MvcKeys.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/ApiAuthResult.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/EvaluatePoliciesAction.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyService.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/SPIService.java
  src/main/resources/application.yaml
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/resources/static/assets/javascripts/jquery-3.4.1.min.js
  src/main/resources/static/assets/javascripts/jquery-3.5.1.min.js
  src/main/webapp/WEB-INF/jsp/login.jsp
  src/main/webapp/WEB-INF/jsp/staleUserResetPassword.jsp
  src/main/webapp/WEB-INF/tags/wrapper.tag
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/PolicyServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/SPIServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/util/TestConstants.java
  src/test/js/account_lockout_reset_password_test.js
  src/test/js/cross_browser_test.js
  src/test/js/policy_check_functional_test.js
  src/test/js/reset_password_test.js
  src/test/js/self_registration_test.js
  src/test/js/shared/idam_helper.js
  src/test/js/shared/welsh_constants.js
  src/test/js/stale_user_login_test.js
  src/test/js/welsh_language_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-422

#416 SIDM-4233 SSO Login
  build.gradle
  charts/idam-web-public/values.yaml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/client/OidcApi.java
  src/main/java/uk/gov/hmcts/reform/idam/web/client/SsoFederationApi.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/AppConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/ErrorHelper.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOAuthenticationSuccessHandler.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOZuulFilter.java
  src/main/resources/application-docker.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/idam/web/config/EmbeddedRedis.java
  src/test/java/uk/gov/hmcts/reform/idam/web/config/TestConfig.java
  src/test/java/uk/gov/hmcts/reform/idam/web/sso/SSOAuthenticationSuccessHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/sso/SSOZuulFilterTest.java
Labels: Do Not Merge, ns:idam, prd:idam, rel:idam-web-public-pr-416, work in progress

#423 chore: increase chart version
  charts/idam-web-public/Chart.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-423
