Repository hmcts/idam-web-public, pull requests merged in 2020-11, with the labels that each got.

#522 Sidm-5132
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/StepUpAuthenticationZuulFilter.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/StepUpAuthenticationZuulFilterTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-522

#526 [runbook task] Merge 5.0 into master
  Jenkinsfile_CNP
  build.gradle
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/FeaturesConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/ErrorHelper.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOZuulFilter.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/SPIService.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/StepUpAuthenticationZuulFilter.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/ValidationService.java
  src/main/resources/application.yaml
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/contactus.jsp
  src/main/webapp/WEB-INF/jsp/loginWithPin.jsp
  src/main/webapp/WEB-INF/jsp/useractivation.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/StepUpAuthenticationZuulFilterTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/util/TestConstants.java
  src/test/js/ejudiciary_login_test.js
  src/test/js/mfa_e2e_test.js
  src/test/js/policy_check_functional_test.js
  src/test/js/shared/idam_helper.js
Labels: Do Not Merge, ns:idam, prd:idam, rel:idam-web-public-pr-526

#525 SIDM-5083: possible fix for nightly test failures
  package.json
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-525

#531 SIDM-5084
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/contactus.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-531

#533 Attempt to fix CVE-2020-15250.
  build.gradle
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-533

#535 SIDM-5201: Remove the OTP duration info from the Verification code screen copy
  build.gradle
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-535

#537 Security scan issue fix.
  audit.json
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-537

#538 Sidm 5177 already active
  src/main/java/uk/gov/hmcts/reform/idam/web/UserController.java
  src/main/webapp/WEB-INF/jsp/useractivation.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/UserControllerTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-538

#534 Sidm 5175
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/verification.jsp
  src/test/js/mfa_e2e_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-534

#539 Sidm 5176
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/MvcKeys.java
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/expiredcode.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/js/mfa_e2e_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-539

#540 SIDM-5175: added more wording
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/verification.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-540

#541 Improve test coverage
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-541

#542 word changes
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-542

#543 SIDM-5175: Aligning the Verification code screen to the UX prototype
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/verification.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-543
