Repository hmcts/idam-web-public, pull requests merged in 2020-08, with the labels that each got.

#428 chore(pitest): fix pitest gradle task
  build.gradle
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-428

#429 SIDM-4704 Change of email address for FPL
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/privacypolicy.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-429

#430 SIDM-4704 Change of email address for FPL for preview
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/privacypolicy.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-430

#427 SIDM-4413 eJudiciary login button and redis session fixes
  build.gradle
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/SessionConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/MvcKeys.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOZuulFilter.java
  src/main/resources/application.yaml
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/resources/static/assets/stylesheets/application.css
  src/main/webapp/WEB-INF/jsp/login.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/config/EmbeddedRedis.java
  src/test/java/uk/gov/hmcts/reform/idam/web/config/OIDCLocaleChangeInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelperTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-427

#433 Sidm 4413 SSO Login button and error handling
  build.gradle
  dependency-check-suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/MvcKeys.java
  src/main/java/uk/gov/hmcts/reform/idam/web/model/AuthorizeRequest.java
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/login.jsp
  src/test/js/mfa_e2e_test.js
  src/test/js/policy_check_functional_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-433

#415 Sidm 4567 accessibility login
  src/main/webapp/WEB-INF/jsp/login.jsp
  src/main/webapp/WEB-INF/tags/wrapper.tag
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-415

#436 SIDM-4641 SSO feature flag.
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/ConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/MvcKeys.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOZuulFilter.java
  src/main/resources/application.yaml
  src/main/webapp/WEB-INF/jsp/login.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/sso/SSOZuulFilterTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-436

#439 SIDM-4413 SIDM-4414 SIDM-4416 Welsh translations for SSO messages.
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/login.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-439

#441 SIDM-4178 Fix reverse tabnabbing vulnerability.
  src/main/resources/messages.properties
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-441

#440 SIDM-4641 sso feature flag
  src/main/resources/application.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-440

#443 SIDM-1984 Pa11y warnings
  pa11y.conf.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-443

#442 Prod: IDAM 2.2
  Jenkinsfile_CNP
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-442

#447 increase unit test coverage of SPIService
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/SPIServiceTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-447

#444 Sidm 4178 zapscanner issues
  src/main/java/uk/gov/hmcts/reform/idam/web/UserController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/IdamWebMvcConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/RequestMethodInterceptor.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelper.java
  src/main/webapp/WEB-INF/jsp/forgotpassword.jsp
  src/main/webapp/WEB-INF/jsp/useractivation.jsp
  src/main/webapp/WEB-INF/tags/baseUrl.tag
  src/main/webapp/WEB-INF/tags/wrapper.tag
  src/test/java/uk/gov/hmcts/reform/idam/web/config/OIDCLocaleChangeInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/config/RequestMethodInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelperTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-444

#445 preview -> nightly-dev
  pa11y.conf.js
  src/main/java/uk/gov/hmcts/reform/idam/web/UserController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/IdamWebMvcConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/RequestMethodInterceptor.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelper.java
  src/main/resources/application.yaml
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/forgotpassword.jsp
  src/main/webapp/WEB-INF/jsp/login.jsp
  src/main/webapp/WEB-INF/jsp/useractivation.jsp
  src/main/webapp/WEB-INF/tags/baseUrl.tag
  src/main/webapp/WEB-INF/tags/wrapper.tag
  src/test/java/uk/gov/hmcts/reform/idam/web/config/OIDCLocaleChangeInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/config/RequestMethodInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelperTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-445

#446 E judiciary login test
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/test/js/config/test_data.js
  src/test/js/ejudiciary_login_test.js
  src/test/js/shared/idam_helper.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-446

#455 fix(chart): -java workaround
  charts/idam-web-public/values.preview.template.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-455

#453 Sidm 4810 revert sso error message
  build.gradle
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-453

#451 Fix the login button for ejudiciary
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/MvcKeys.java
  src/main/webapp/WEB-INF/jsp/login.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-451

#457 Increase code coverage.
  src/test/java/uk/gov/hmcts/reform/idam/web/config/RequestMethodInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/sso/SSOZuulFilterTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-457

#458 Increase code coverage.
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-458

#460 update cross browser tests
  src/test/js/cross_browser_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-460

#454 Sidm 4806
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/AppConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/AuthHelper.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOAuthenticationSuccessHandler.java
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/helper/AuthHelperTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/sso/SSOAuthenticationSuccessHandlerTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-454

#462 Sidm 4811 fixes
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/ConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/FeaturesConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOService.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOZuulFilter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/idam/web/sso/SSOServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/sso/SSOZuulFilterTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-462

#463 chore(4.0-coverage) improve new code coverage
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOService.java
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/sso/SSOServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/sso/SSOZuulFilterTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/util/TestConstants.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-463
