Repository hmcts/idam-web-public, pull requests merged in 2020-10, with the labels that each got.

#502 feat(4.0.1): second-level SSO bugfix
  .pre-commit-config.yaml
  Jenkinsfile_CNP
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-502

#503 chore(v4): merge v4.0.1 into preview
  .pre-commit-config.yaml
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/AppConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/IdamWebMvcConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/SessionConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/ErrorHelper.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/MvcKeys.java
  src/main/java/uk/gov/hmcts/reform/idam/web/model/AuthorizeRequest.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOAuthenticationSuccessHandler.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/ValidationService.java
  src/main/resources/application.yaml
  src/main/webapp/WEB-INF/jsp/login.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/ApplicationIntegrationTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/config/AppConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/config/OIDCLocaleChangeInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/sso/SSOZuulFilterTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/SPIServiceTest.java
  src/test/js/uplift_user_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-503

#450 SIDM-4773
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/loginWithPin.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-450

#459 Sidm 4733 interim branch [v5.0]
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/privacypolicy.jsp
Labels: 5.0, ns:idam, prd:idam, rel:idam-web-public-pr-459

#452 SIDM-4772 Fix error reporting for setting user password.
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/ErrorHelper.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/ValidationService.java
  src/main/webapp/WEB-INF/jsp/useractivation.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/util/TestConstants.java
Labels: 5.0, ns:idam, prd:idam, rel:idam-web-public-pr-452

#505 SIDM-4137
  src/main/resources/messages.properties
  src/main/webapp/WEB-INF/jsp/contactus.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-505

#504 chore(prod-blocker): add prod blocker
  Jenkinsfile_CNP
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-504

#506 Upgrade OWASP dependency plugin version.
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-506

#507 Upgrade OWASP dependency plugin version.
  build.gradle
  dependency-check-suppressions.xml
Labels: Do Not Merge, ns:idam, prd:idam, rel:idam-web-public-pr-507

#508 SIDM-5010: Do not lose OIDC params when going through MFA flow
  package.json
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/model/VerificationRequest.java
  src/main/webapp/WEB-INF/jsp/verification.jsp
  src/test/js/mfa_e2e_test.js
  src/test/js/policy_check_functional_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-508

#510 chore(prodblocker): v4.2.1 remove prod blocker
  Jenkinsfile_CNP
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-510

#515 CVE-2020-13943 Fix.
  dependency-check-suppressions.xml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-515

#513 Sidm 5013 step up authentication
  build.gradle
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOZuulFilter.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/SPIService.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/StepUpAuthenticationZuulFilter.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/StepUpAuthenticationZuulFilterTest.java
  src/test/js/mfa_e2e_test.js
  src/test/js/policy_check_functional_test.js
  src/test/js/shared/idam_helper.js
  yarn.lock
Labels: MFA-for-Professional-users, ns:idam, prd:idam, rel:idam-web-public-pr-513

#518 Introduce a feature flag controlling StepUp authentication.
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/FeaturesConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/StepUpAuthenticationZuulFilter.java
  src/main/resources/application.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-518

#516 fix dependency issues and add prod blocker
  Jenkinsfile_CNP
  dependency-check-suppressions.xml
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-516

#519 SIDM-5087: Fix for step-up auth and application gateways
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/SPIService.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-519

#512 SIDM-4971
  src/main/resources/messages.properties
  src/test/js/ejudiciary_login_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-512
