Repository hmcts/idam-web-public, pull requests merged in 2020-06, with the labels that each got.

#374 V2 1 intermediary master bfg
  Jenkinsfile_CNP
  audit.json
  charts/idam-web-public/values.aat.template.yaml
  dependency-check-suppressions.xml
  package-lock.json
  package.json
  security.sh
  yarn.lock
  zap-exclusions
Labels: ns:idam, rel:idam-web-public-pr-374

#375 v2 rc1
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  charts/idam-web-public/Chart.yaml
  charts/idam-web-public/requirements.yaml
  charts/idam-web-public/values.yaml
  dependency-check-suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  package-lock.json
  package.json
  security.sh
  src/main/java/uk/gov/hmcts/reform/idam/web/Application.java
  src/main/java/uk/gov/hmcts/reform/idam/web/UserController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/AppConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/MessagesConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/OIDCLocaleChangeInterceptor.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/StrategicConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelper.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/LocalePassingInterceptor.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/SPIService.java
  src/main/resources/application.yaml
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/resources/static/assets/stylesheets/application.css
  src/main/webapp/WEB-INF/jsp/contactus.jsp
  src/main/webapp/WEB-INF/jsp/cookies.jsp
  src/main/webapp/WEB-INF/jsp/expiredActivationLink.jsp
  src/main/webapp/WEB-INF/jsp/privacypolicy.jsp
  src/main/webapp/WEB-INF/jsp/resetpassword.jsp
  src/main/webapp/WEB-INF/jsp/tandc.jsp
  src/main/webapp/WEB-INF/jsp/useractivation.jsp
  src/main/webapp/WEB-INF/tags/languageSwitch.tag
  src/main/webapp/WEB-INF/tags/wrapper.tag
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/config/OIDCLocaleChangeInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelperTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/helper/LocalePassingInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/util/TestConstants.java
  src/test/js/mfa_e2e_test.js
  src/test/js/self_registration_test.js
  src/test/js/shared/idam_helper.js
  src/test/js/shared/welsh_constants.js
  src/test/js/uplift_user_test.js
  src/test/js/welsh_language_test.js
  yarn.lock
Labels: ns:idam, rel:idam-web-public-pr-375

#377 Increase test code coverage.
  Jenkinsfile_nightly
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelper.java
  src/test/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelperTest.java
Labels: ns:idam, rel:idam-web-public-pr-377

#378 fix: remove reference to idam-master tf state
  infrastructure/state.tf
Labels: ns:idam, rel:idam-web-public-pr-378

#381 Sonar failure fix attempt.
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelper.java
Labels: ns:idam, rel:idam-web-public-pr-381

#379 v2.1-rc2
  Jenkinsfile_nightly
  infrastructure/state.tf
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelper.java
  src/test/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelperTest.java
Labels: ns:idam, rel:idam-web-public-pr-379

#360 Bump java version to 11.
  Dockerfile
  build.gradle
Labels: Do Not Merge, ns:idam, rel:idam-web-public-pr-360

#392 v2.1 Production
  Jenkinsfile_CNP
Labels: Do Not Merge, ns:idam, rel:idam-web-public-pr-392

#397 Update Jenkinsfile_CNP
  Jenkinsfile_CNP
Labels: ns:idam, rel:idam-web-public-pr-397

#391 SIDM 4211
  build.gradle
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/MvcKeys.java
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/login.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/util/TestConstants.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-391

#398 upgrade bom to 2.2.4
  build.gradle
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-398

#400 SIDM-4347 - Deprecate App Service Site
  Jenkinsfile_parameterized
  infrastructure/idam-demo.tfvars
  infrastructure/idam-ithc.tfvars
  infrastructure/idam-preview.tfvars
  infrastructure/idam-saat.tfvars
  infrastructure/idam-sandbox.tfvars
  infrastructure/main.tf
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-400
