Repository hmcts/idam-web-public, pull requests merged in 2020-09, with the labels that each got.

#464 chore(v4-nightly): Fix nightly tests
  build.gradle
  dependency-check-suppressions.xml
  src/test/js/cross_browser_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-464

#465 Fix some sonar issues failing the build.
  src/main/java/uk/gov/hmcts/reform/idam/web/UserController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/health/ApiHealthIndicator.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/MvcKeys.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/SPIService.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-465

#466 SIDM-4838 SSO Zuul fixes
  src/main/java/uk/gov/hmcts/reform/idam/web/config/AppConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/FeignConfiguration.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-466

#467 More code coverage for Sonar.
  build.gradle
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOService.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-467

#469 Merge preview into master
  src/main/java/uk/gov/hmcts/reform/idam/web/UserController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/AppConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/health/ApiHealthIndicator.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/MvcKeys.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOService.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/SPIService.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-469

#474 web public userinfo test
  src/test/js/login_user_functional_test.js
  src/test/js/shared/idam_helper.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-474

#470 Chore v4 master into preview
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOService.java
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/sso/SSOServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/sso/SSOZuulFilterTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/util/TestConstants.java
  src/test/js/cross_browser_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-470

#475 Merge v4 rc6 preview into master
  src/test/js/login_user_functional_test.js
  src/test/js/shared/idam_helper.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-475

#476 Fix ZapScanner issues
  audit.json
  zap-exclusions
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-476

#478 fix flaky test
  src/test/js/account_lockout_reset_password_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-478

#477 Merge v4rc8 bce42cc preview into master
  audit.json
  src/test/js/account_lockout_reset_password_test.js
  zap-exclusions
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-477

#479 Suppress jcip-annotations-1.0-1 vulnerability.
  dependency-check-suppressions.xml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-479

#480 Merge v4rc9 preview into master
  dependency-check-suppressions.xml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-480

#481 Bug: stale user pin journey
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-481

#484 add stale user pin journey tests
  src/test/js/stale_user_login_test.js
  src/test/js/uplift_user_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-484

#483 bug(SIDM-4848): Allow to turn SSO off without conf
  src/main/java/uk/gov/hmcts/reform/idam/web/config/AppConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/AppConfigurationSSO.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOAuthenticationSuccessHandler.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-483

#487 Bug sso off config
  src/main/resources/application-docker.yaml
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/js/ejudiciary_login_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-487

#490 Don't remove the config completely, as it won't happen in master eith…
  src/main/resources/application-docker.yaml
  src/main/resources/application.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-490

#492 Roll back sso feature off
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/js/ejudiciary_login_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-492

#495 Fix some Sonar issues.
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/IdamWebMvcConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/ErrorHelper.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/ValidationService.java
  src/test/java/uk/gov/hmcts/reform/idam/web/ApplicationIntegrationTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/config/OIDCLocaleChangeInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/sso/SSOZuulFilterTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/SPIServiceTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-495

#493 V4.0.0 Final RC into Master
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/AppConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/AppConfigurationSSO.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/IdamWebMvcConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/ErrorHelper.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOAuthenticationSuccessHandler.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/ValidationService.java
  src/main/resources/application-docker.yaml
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/ApplicationIntegrationTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/config/AppConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/config/OIDCLocaleChangeInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/sso/SSOZuulFilterTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/SPIServiceTest.java
  src/test/js/stale_user_login_test.js
  src/test/js/uplift_user_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-493

#496 chore(v4-merge): main.tf: remove redis to fix v4 merge #480
  infrastructure/main.tf
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-496

#500 Another fix for SSO from XUI
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOAuthenticationSuccessHandler.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-500

#501 Do not (yet) force all ejudiciary users to go through SSO
  src/main/resources/application.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-501

#498 chore(SIDM-4924-rm-prod-blocker): remove prod blocker
  Jenkinsfile_CNP
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-498
