Repository hmcts/idam-web-public, pull requests merged in 2020-02, with the labels that each got.

#317 fix unknown char in email links
  src/test/js/shared/idam_helper.js
Labels: ns:idam, rel:idam-web-public-pr-317

#321 feat(sidm-3483-fr6): 6.5 web-public
  src/test/js/account_lockout_reset_password_test.js
  src/test/js/login_user_with_scope_functional_test.js
  src/test/js/oidc_endpoints_through_webpublic_test.js
  src/test/js/shared/idam_helper.js
  src/test/js/uplift_user_test.js
Labels: ns:idam, rel:idam-web-public-pr-321

#308 Sidm 3561 compare screenshot test
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  codecept.conf.js
  functional-output/screenshots/base/Polycheck-login.png
  functional-output/screenshots/base/create-newpassword.png
  functional-output/screenshots/base/mfa-verification.png
  functional-output/screenshots/base/password-changed.png
  functional-output/screenshots/base/reset-password.png
  package-lock.json
  package.json
  src/test/js/account_lockout_reset_password_test.js
  src/test/js/mfa_e2e_test.js
  src/test/js/policy_check_functional_test.js
  src/test/js/reset_password_test.js
  src/test/js/uplift_user_test.js
Labels: ns:idam, ns:idam-web-public-pr-308, rel:idam-web-public-pr-308

#326 Idam nightly tests
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  audit.json
  security.sh
Labels: ns:idam, rel:idam-web-public-pr-326
