Repository hmcts/idam-web-public, pull requests merged in 2020-03, with the labels that each got.

#331 Adding support for multiple affinity cookies
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/StrategicConfigurationProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
Labels: ns:idam, rel:idam-web-public-pr-331

#333 SIDM-2686 - Cross browser tests
  Jenkinsfile_nightly
  build.gradle
  functional-output/zapreports
  package.json
  saucelabs.conf.js
  src/test/js/config/runUITestsSauceLabs.sh
  src/test/js/config/supportedBrowsers.js
  src/test/js/config/test_data.js
  src/test/js/cross_browser_test.js
  src/test/js/policy_check_functional_test.js
  src/test/js/shared/random_data.js
  src/test/js/shared/sauceLabsReportingHelper.js
Labels: ns:idam, rel:idam-web-public-pr-333

#332 Adding support for multiple affinity cookies
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/StrategicConfigurationProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
Labels: ns:idam, rel:idam-web-public-pr-332

#335 v2.0.0 RC1 (idam-session-cookie hotfix)
  Jenkinsfile_CNP
  build.gradle
  security.sh
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/StrategicConfigurationProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/js/policy_check_functional_test.js
  src/test/js/reset_password_test.js
  src/test/js/self_registration_test.js
  src/test/js/shared/idam_helper.js
Labels: ns:idam, rel:idam-web-public-pr-335

#334 Welsh language
  src/main/java/uk/gov/hmcts/reform/idam/web/Application.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/MessagesConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/OIDCLocaleChangeInterceptor.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelper.java
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/resources/static/assets/stylesheets/application.css
  src/main/webapp/WEB-INF/jsp/contactus.jsp
  src/main/webapp/WEB-INF/jsp/contactus_cy.jsp
  src/main/webapp/WEB-INF/jsp/contactus_en.jsp
  src/main/webapp/WEB-INF/jsp/cookies.jsp
  src/main/webapp/WEB-INF/jsp/cookies_cy.jsp
  src/main/webapp/WEB-INF/jsp/cookies_en.jsp
  src/main/webapp/WEB-INF/jsp/privacypolicy.jsp
  src/main/webapp/WEB-INF/jsp/privacypolicy_cy.jsp
  src/main/webapp/WEB-INF/jsp/privacypolicy_en.jsp
  src/main/webapp/WEB-INF/jsp/tandc.jsp
  src/main/webapp/WEB-INF/jsp/tandc_cy.jsp
  src/main/webapp/WEB-INF/jsp/tandc_en.jsp
  src/main/webapp/WEB-INF/tags/languageSwitch.tag
  src/main/webapp/WEB-INF/tags/wrapper.tag
  src/test/java/uk/gov/hmcts/reform/idam/web/config/OIDCLocaleChangeInterceptorTest.java
Labels: ns:idam, rel:idam-web-public-pr-334

#338 fix(idam-aat): add test variables
  Jenkinsfile_CNP
Labels: ns:idam, rel:idam-web-public-pr-338

#345 Welsh long cookie
  src/main/java/uk/gov/hmcts/reform/idam/web/config/MessagesConfiguration.java
Labels: ns:idam, rel:idam-web-public-pr-345

#337 SIDM-3353 Create password - add additional guidance text.
  src/main/resources/messages.properties
  src/main/webapp/WEB-INF/jsp/resetpassword.jsp
  src/main/webapp/WEB-INF/jsp/useractivation.jsp
Labels: ns:idam, rel:idam-web-public-pr-337
