Repository hmcts/idam-web-public, pull requests merged in 2021-12, with the labels that each got.

#743 SIDM-6548 disable csrf for dynatrace endpoint
  build.gradle
  src/main/java/uk/gov/hmcts/reform/idam/web/config/AppConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/AppConfigurationSSO.java
  src/main/resources/application.yaml
  src/test/js/dynatrace_monitor_test.js
  src/test/js/shared/idam_helper.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-743

#744 SIDM-6692 Update Contact-us page for SSCS-DWP users
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/contactus.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-744

#747 SIDM-6477 Try Netty Socket Options
  src/main/java/uk/gov/hmcts/reform/idam/web/config/AppConfigurationSSO.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/SessionConfiguration.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-747

#748 SIDM-6784 Fix log4j vulnerability
  build.gradle
  src/test/js/self_registration_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-748

#749 CVE-2021-44228 fix
  build.gradle
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-749

#750 7.1 RC
  build.gradle
  charts/idam-web-public/Chart.yaml
  charts/idam-web-public/values.yaml
  src/main/java/uk/gov/hmcts/reform/idam/web/config/AppConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/AppConfigurationSSO.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/SessionConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/contactus.jsp
  src/main/webapp/WEB-INF/jsp/cookies.jsp
  src/main/webapp/WEB-INF/jsp/login.jsp
  src/main/webapp/WEB-INF/tags/wrapper.tag
  src/test/js/dynatrace_monitor_test.js
  src/test/js/login_user_functional_test.js
  src/test/js/shared/idam_helper.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-750
