Repository hmcts/idam-web-public, pull requests merged in 2021-09, with the labels that each got.

#698 SIDM-6261 Add MoJ SSO Option
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/AppConfigurationSSO.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/MvcKeys.java
  src/main/java/uk/gov/hmcts/reform/idam/web/model/AuthorizeRequest.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOService.java
  src/main/resources/application.yaml
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/login.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/util/TestConstants.java
  src/test/js/config/test_data.js
  src/test/js/moj_login_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-698

#699 SIDM-6269 add IAC content to Privacy Policy page
  src/main/resources/messages.properties
  src/main/webapp/WEB-INF/jsp/privacypolicy.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-699

#702 Sidm 6264 moj login test
  src/test/js/moj_login_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-702

#701 SIDM-6288 fix error skip links
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelper.java
  src/main/webapp/WEB-INF/jsp/forgotpassword.jsp
  src/main/webapp/WEB-INF/jsp/useractivation.jsp
  src/main/webapp/WEB-INF/tags/baseUrl.tag
  src/main/webapp/WEB-INF/tags/wrapper.tag
  src/test/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelperTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-701

#700 SIDM-6289 Use Warning Text to convey information about stale accounts
  src/main/webapp/WEB-INF/jsp/staleUserResetPassword.jsp
  src/test/js/stale_user_login_test.js
  src/test/js/uplift_user_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-700

#703 SIDM-6290 make hide button in banner a button
  src/main/webapp/WEB-INF/tags/wrapper.tag
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-703

#704 SIDM-6286 Hide cookie banner divs from screen readers when hidden
  src/main/resources/static/assets/javascripts/cookie-manager.js
  src/main/webapp/WEB-INF/tags/wrapper.tag
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-704

#709 SIDM-6287 make skip link target first h1 on every page
  src/main/resources/static/assets/javascripts/skiplink-target.js
  src/main/webapp/WEB-INF/tags/wrapper.tag
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-709

#708 SIDM-6314 Reposition the 'Skip to main content' link
  src/main/resources/static/assets/javascripts/cookie-manager.js
  src/main/webapp/WEB-INF/tags/wrapper.tag
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-708

#706 SIDM-6306 use GDS styling for phase banner
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/resources/static/assets/stylesheets/application.css
  src/main/webapp/WEB-INF/tags/wrapper.tag
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-706

#707 SIDM-6305 Add (opens in a new tab) to applicable links
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/cookiePreferences.jsp
  src/main/webapp/WEB-INF/jsp/cookies.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-707

#711 SIDM-6295 ignore "prompt=login" during login/verification calls to api/AM
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/StepUpAuthenticationZuulFilter.java
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/StepUpAuthenticationZuulFilterTest.java
  src/test/js/login_user_functional_test.js
  src/test/js/mfa_e2e_test.js
  src/test/js/shared/idam_helper.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-711

#712 SIDM-5969 Review version overwrites in webapps
  build.gradle
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-712

#714 Parameterise waitForAction in e2e tests
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  codecept.conf.js
  src/test/js/config/test_data.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-714

#710 SIDM-6307 Accessibility Statement
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/MvcKeys.java
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/accessibilityStatement.jsp
  src/main/webapp/WEB-INF/tags/wrapper.tag
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-710
