Repository hmcts/idam-web-public, pull requests merged in 2021-06, with the labels that each got.

#626 SIDM-5908: Disable security scan stage
  Jenkinsfile_nightly
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-626

#624 SIDM-5895: IDAM 5.3.1-RC into master
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  src/test/js/account_lockout_reset_password_test.js
  src/test/js/cross_browser_test.js
  src/test/js/dynamic_user_registration_test.js
  src/test/js/ejudiciary_login_test.js
  src/test/js/login_user_functional_test.js
  src/test/js/login_user_with_scope_functional_test.js
  src/test/js/mfa_e2e_test.js
  src/test/js/reset_password_test.js
  src/test/js/self_registration_test.js
  src/test/js/shared/idam_helper.js
  src/test/js/shared/random_data.js
  src/test/js/stale_user_login_test.js
  src/test/js/uplift_user_test.js
  src/test/js/user_registration_pending_status_and_post_activation_redirect_url_test.js
  src/test/js/user_registration_with_the_same_uuid_in_pending_status_test.js
  src/test/js/welsh_language_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-624

#628 Same site cookies
  src/main/java/uk/gov/hmcts/reform/idam/web/config/IdamWebMvcConfiguration.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-628

#629 Zap intermittent failures
  audit.json
  security.sh
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-629

#630 ignore auth response parsing errors
  build.gradle
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/SPIService.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/StepUpAuthenticationZuulFilter.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/SPIServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/StepUpAuthenticationZuulFilterTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-630

#633 ignore DT and GA cookies in zap scanner
  Jenkinsfile_nightly
  audit.json
  security.sh
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-633

#634 SIDM-5916 tidy up logging
  src/main/java/uk/gov/hmcts/reform/idam/web/UserController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/SPIService.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-634

#635 SIDM-5931 (CVE) update spring version
  build.gradle
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-635

#637 SIDM-5935 IDAM 5.3.1.1 update spring version to resolve CVE
  build.gradle
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-637

#640 Sidm 5679 accessibility tests
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  codecept.conf.js
  package.json
  src/test/js/account_lockout_reset_password_test.js
  src/test/js/config/test_data.js
  src/test/js/dynamic_user_registration_test.js
  src/test/js/login_user_functional_test.js
  src/test/js/mfa_e2e_test.js
  src/test/js/reporters/accessibility-reporter/Report.html
  src/test/js/reporters/accessibility-reporter/customReporter.js
  src/test/js/reporters/accessibility-reporter/resources/angular.min.js
  src/test/js/reporters/accessibility-reporter/resources/css/all.css
  src/test/js/reporters/accessibility-reporter/resources/webfonts/fa-solid-900.woff2
  src/test/js/reset_password_test.js
  src/test/js/self_registration_test.js
  src/test/js/shared/accessibility/runner.js
  src/test/js/shared/generate_report_helper.js
  src/test/js/shared/idam_helper.js
  src/test/js/uplift_user_test.js
  src/test/js/welsh_language_test.js
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-640

#641 enable security scan tests
  Jenkinsfile_nightly
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-641

#642 New cookie banner 2
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/ConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/FeaturesConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/MvcKeys.java
  src/main/resources/application.yaml
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/resources/static/assets/images/favicon.ico
  src/main/resources/static/assets/images/govuk-apple-touch-icon-120-120.png
  src/main/resources/static/assets/images/govuk-apple-touch-icon-152x152.png
  src/main/resources/static/assets/images/govuk-apple-touch-icon-167x167.png
  src/main/resources/static/assets/images/govuk-apple-touch-icon-180x180.png
  src/main/resources/static/assets/images/govuk-apple-touch-icon.png
  src/main/resources/static/assets/images/govuk-crest.png
  src/main/resources/static/assets/images/govuk-logotype-crown.png
  src/main/resources/static/assets/images/govuk-mask-icon.svg
  src/main/resources/static/assets/images/govuk-opengraph-image.png
  src/main/resources/static/assets/javascripts/cookie-manager.js
  src/main/resources/static/assets/javascripts/govuk-frontend-3.12.0.min.js
  src/main/resources/static/assets/stylesheets/application.css
  src/main/resources/static/assets/stylesheets/fonts/bold-affa96571d-v2.woff
  src/main/resources/static/assets/stylesheets/fonts/bold-b542beb274-v2.woff2
  src/main/resources/static/assets/stylesheets/fonts/light-94a07e06a1-v2.woff2
  src/main/resources/static/assets/stylesheets/fonts/light-f591b13f7d-v2.woff
  src/main/resources/static/assets/stylesheets/govuk-frontend-3.12.0.min.css
  src/main/resources/static/assets/stylesheets/govuk-frontend-ie8-3.12.0.min.css
  src/main/webapp/WEB-INF/jsp/cookiePreferences.jsp
  src/main/webapp/WEB-INF/jsp/cookies.jsp
  src/main/webapp/WEB-INF/tags/wrapper.tag
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/js/reset_password_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-642

#649 Mutation test fix
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-649

#651 SIDM-5983 Fix some of the zap scanner issues
  src/main/java/uk/gov/hmcts/reform/idam/web/config/IdamWebMvcConfiguration.java
  src/main/webapp/WEB-INF/tags/wrapper.tag
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-651

#652 Fix some of the zap scanner issues
  src/main/java/uk/gov/hmcts/reform/idam/web/config/IdamWebMvcConfiguration.java
  src/main/webapp/WEB-INF/tags/wrapper.tag
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-652

#655 Suppress the rest of the issues from zap
  audit.json
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-655

#658 fix intermittent test failure
  src/test/js/login_user_with_scope_functional_test.js
  src/test/js/uplift_user_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-658

#650 Remove index.jsp... because why not?
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/MvcKeys.java
  src/main/webapp/WEB-INF/jsp/index.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-650

#660 SIDM-5887 Fix Fortify Issues
  src/main/webapp/WEB-INF/jsp/resetpassword.jsp
  src/main/webapp/WEB-INF/jsp/upliftLogin.jsp
  src/main/webapp/WEB-INF/jsp/useractivation.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-660
