Repository hmcts/idam-web-public, pull requests merged in 2021-04, with the labels that each got.

#593 Bump idam-bom version
  build.gradle
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-593

#597 Update helm chart api version
  charts/idam-web-public/Chart.yaml
  charts/idam-web-public/requirements.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-597

#596 remove waits from mfa tests
  charts/idam-web-public/Chart.yaml
  charts/idam-web-public/requirements.yaml
  charts/idam-web-public/values.yaml
  codecept.conf.js
  src/test/js/config/test_data.js
  src/test/js/mfa_e2e_test.js
  src/test/js/shared/idam_helper.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-596

#598 SIDM-5662: New chart version
  charts/idam-web-public/Chart.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-598

#600 Netty cve fix master
  build.gradle
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-600

#601 remove hardcoded password and client secret from tests
  src/test/js/account_lockout_reset_password_test.js
  src/test/js/config/test_data.js
  src/test/js/cross_browser_test.js
  src/test/js/dynamic_user_registration_test.js
  src/test/js/ejudiciary_login_test.js
  src/test/js/login_user_functional_test.js
  src/test/js/login_user_smoke_test.js
  src/test/js/login_user_with_scope_functional_test.js
  src/test/js/mfa_e2e_test.js
  src/test/js/reset_password_test.js
  src/test/js/self_registration_test.js
  src/test/js/shared/idam_helper.js
  src/test/js/shared/random_data.js
  src/test/js/stale_user_login_test.js
  src/test/js/uplift_user_test.js
  src/test/js/user_registration_pending_status_and_post_activation_redirect_url_test.js
  src/test/js/user_registration_with_the_same_uuid_in_pending_status_test.js
  src/test/js/welsh_language_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-601

#602 improve account lockout test to fix failures
  build.gradle
  src/test/js/shared/custom_steps.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-602

#603 SIDM-5718: Disable reset password button on click
  src/main/webapp/WEB-INF/jsp/resetpassword.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-603

#604 Sidm 5692 cross browser tests config update
  build.gradle
  saucelabs.conf.js
  src/test/js/cross_browser_test.js
  src/test/js/shared/sauceLabsReportingHelper.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-604
