Repository hmcts/idam-web-public, pull requests merged in 2021-11, with the labels that each got.

#731 Fix issue with zuul 2.9 and spring boot 2.5
  build.gradle
  src/main/java/uk/gov/hmcts/reform/idam/web/config/ZuulConfiguration.java
  src/test/java/uk/gov/hmcts/reform/idam/web/config/TestConfig.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-731

#733 SIDM-6571 add suppressions for zap scanner
  audit.json
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-733

#734 SIDM-6571 Suppress zap scanner issues
  audit.json
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-734

#735 SIDM-6475 Cookie content update
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/cookies.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-735

#739 SIDM-6586 Add welsh for error message, highlight error field
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/login.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-739

#736 SIDM-6399 Click hide this message after accepting cookies in test
  src/main/webapp/WEB-INF/tags/wrapper.tag
  src/test/js/login_user_functional_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-736

#738 SIDM-6477 redis config for timeouts
  build.gradle
  src/main/java/uk/gov/hmcts/reform/idam/web/config/SessionConfiguration.java
  src/main/resources/application.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-738

#740 SIDM-6395 Log CSRF token mismatch
  src/main/resources/application.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-740

#741 SIDM-6586 Add error message
  src/main/webapp/WEB-INF/jsp/login.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-741

#742 Try set the securityContext in the values.yaml?
  charts/idam-web-public/Chart.yaml
  charts/idam-web-public/values.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-742
