Repository hmcts/idam-web-public, pull requests merged in 2022-02, with the labels that each got.

#745 Use spring boot suggested invalidation method
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/EndSessionFilter.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-745

#758 fix perftest citizen roleid test issue
  src/test/js/uplift_user_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-758

#754 SIDM-6845 change clientId param to client_id
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/UserController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/MvcKeys.java
  src/main/java/uk/gov/hmcts/reform/idam/web/model/ForgotPasswordRequest.java
  src/main/java/uk/gov/hmcts/reform/idam/web/model/SelfRegisterRequest.java
  src/main/webapp/WEB-INF/jsp/expiredcode.jsp
  src/main/webapp/WEB-INF/jsp/forgotpassword.jsp
  src/main/webapp/WEB-INF/jsp/forgotpasswordsuccess.jsp
  src/main/webapp/WEB-INF/jsp/login.jsp
  src/main/webapp/WEB-INF/jsp/selfRegister.jsp
  src/main/webapp/WEB-INF/jsp/staleUserResetPassword.jsp
  src/main/webapp/WEB-INF/jsp/upliftLogin.jsp
  src/main/webapp/WEB-INF/jsp/usercreated.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/SPIServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/util/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/idam/web/util/TestHelper.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-754

#762 SIDM-7110: Upgrade tomcat to latest to address CVE-2022-23181
  build.gradle
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-762

#763 SIDM-7116: Upgrade to latest base helm hava chart (3.7.0)
  charts/idam-web-public/Chart.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-763
