Repository hmcts/idam-web-public, pull requests merged in 2022-08, with the labels that each got.

#810 Session not required for /reset/inactive-user
  src/main/webapp/WEB-INF/jsp/staleUserResetPassword.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-810

#809 Some tests are failing as they are using a service that does not yet …
  src/test/js/shared/idam_helper.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-809

#811 SIDM-8008: Ignore zap scan issues
  audit.json
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-811

#813 IDAM 8.0-RC into master
  audit.json
  src/main/java/uk/gov/hmcts/reform/idam/web/config/AppConfigurationSSO.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOAuthenticationSuccessHandler.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOService.java
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/accessibilityStatement.jsp
  src/main/webapp/WEB-INF/jsp/staleUserResetPassword.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/sso/SSOAuthenticationSuccessHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/sso/SSOServiceTest.java
  src/test/js/shared/idam_helper.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-813

#814 Add backstage configuration file
  catalog-info.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-814

#815 SIDM-8005 change jira tickets to slack message
  Jenkinsfile_nightly
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-815
