Repository hmcts/idam-web-public, pull requests merged in 2022-03, with the labels that each got.

#764 SIDM-7101 Everythings okay
  src/main/java/uk/gov/hmcts/reform/idam/web/error/CustomErrorController.java
  src/test/java/uk/gov/hmcts/reform/idam/web/error/CustomErrorControllerTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-764

#765 SIDM-7073: Fix /o/endSession
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/EndSessionFilter.java
  src/test/java/uk/gov/hmcts/reform/idam/web/strategic/EndSessionFilterTest.java
  src/test/js/end_session_test.js
  src/test/js/mfa_e2e_test.js
  src/test/js/shared/idam_helper.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-765

#766 fix zap scanner timeout issue
  security.sh
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-766

#768 SIDM-7301: Address CVE-2020-36518
  build.gradle
  charts/idam-web-public/Chart.yaml
  src/test/js/ejudiciary_login_test.js
  src/test/js/moj_login_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-768

#771 SIDM-7336 fix jackson vulnerability
  build.gradle
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-771

#770 fix sso e2e tets
  src/test/js/ejudiciary_login_test.js
  src/test/js/moj_login_test.js
  src/test/js/shared/idam_helper.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-770
