Repository hmcts/idam-web-public, pull requests merged in 2022-07, with the labels that each got.

#803 SIDM-7843: Suppress issues reported by zap scan as false positive.
  audit.json
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-803

#805 Bump chart java
  charts/idam-web-public/Chart.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-805

#806 SIDM-7878 Correct SSO Auto Login Flow
  src/main/java/uk/gov/hmcts/reform/idam/web/config/AppConfigurationSSO.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOAuthenticationSuccessHandler.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOService.java
  src/test/java/uk/gov/hmcts/reform/idam/web/sso/SSOAuthenticationSuccessHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/sso/SSOServiceTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-806

#808 Bump chart java
  charts/idam-web-public/Chart.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-808

#807 SIDM-7673 - Updated EN accessibility statement
  src/main/resources/messages.properties
  src/main/webapp/WEB-INF/jsp/accessibilityStatement.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-807
