Repository hmcts/idam-web-public, pull requests merged in 2022-11, with the labels that each got.

#827 SIDM-6792 project local bom
  build.gradle
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/java/uk/gov/hmcts/reform/idam/web/config/OIDCLocaleChangeInterceptor.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/RequestMethodInterceptor.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelper.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/LocalePassingInterceptor.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOService.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/SPIService.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/StepUpAuthenticationZuulFilter.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/ValidationService.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-827

#825 SIDM-8125 Real preview certificates
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-825

#826 SIDM-8199 Fix vulnerabilities
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-826

#828 Remove unused security flagged code
  src/main/java/uk/gov/hmcts/reform/idam/web/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/ConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/properties/SSLConfigurationProperties.java
  src/main/resources/application.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-828

#832 SIDM-8263: base helm chart upgrade
  charts/idam-web-public/Chart.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-832

#831 update test for multiple users can be registered with same uuid
  src/test/js/user_registration_with_the_same_uuid_in_pending_status_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-831

#830 Deploy 8.1
  Jenkinsfile_CNP
  build.gradle
  charts/idam-web-public/Chart.yaml
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/java/uk/gov/hmcts/reform/idam/web/AppController.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/OIDCLocaleChangeInterceptor.java
  src/main/java/uk/gov/hmcts/reform/idam/web/config/RequestMethodInterceptor.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelper.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/LocalePassingInterceptor.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/MvcKeys.java
  src/main/java/uk/gov/hmcts/reform/idam/web/model/AuthorizeRequest.java
  src/main/java/uk/gov/hmcts/reform/idam/web/sso/SSOService.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/SPIService.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/StepUpAuthenticationZuulFilter.java
  src/main/java/uk/gov/hmcts/reform/idam/web/strategic/ValidationService.java
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/login.jsp
  src/main/webapp/WEB-INF/jsp/tacticalActivateExpired.jsp
  src/main/webapp/WEB-INF/jsp/tacticalResetPassword.jsp
  src/test/java/uk/gov/hmcts/reform/idam/web/AppControllerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/web/util/TestConstants.java
  src/test/js/user_registration_with_the_same_uuid_in_pending_status_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-830
