Repository hmcts/idam-web-public, pull requests merged in 2023-10, with the labels that each got.

#916 Upgrade to latest base Java chart
  charts/idam-web-public/Chart.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-916

#932 Base java chart and other dependencies upgrades, divorce online form
  Dockerfile
  build.gradle
  charts/idam-web-public/Chart.yaml
  gradle/jira.gradle
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/contactus.jsp
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-932

#947 Added CVE-2023-44487 to suppress list.
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-947

#957 Try different supression regex
  dependency-check-suppressions.xml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-957
