Repository hmcts/idam-web-public, pull requests merged in 2023-01, with the labels that each got.

#840 SIDM-8348: Suppress a false positive CVE reported by the dependency-check plugin
  build.gradle
  dependency-check-suppressions.xml
  gradle/libs.versions.toml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-840

#841 SIDM-8348: False positive in snakeyaml (CVE-2021-4235, CVE-2022-3064)
  dependency-check-suppressions.xml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-841

#833 SIDM-8272 - User expiration test
  src/test/js/shared/idam_helper.js
  src/test/js/user_expiration_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-833

#844 Bump base java helm chart
  charts/idam-web-public/Chart.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-844

#843 SIDM-8260 - Added feature-flagged google tag manager
  src/main/java/uk/gov/hmcts/reform/idam/web/config/IdamWebMvcConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelper.java
  src/main/resources/application.yaml
  src/main/webapp/WEB-INF/tags/wrapper.tag
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-843

#845 SIDM-8396: Use latest terraform version
  infrastructure/.terraform-version
  infrastructure/idam-aat.tfvars
  infrastructure/idam-demo.tfvars
  infrastructure/idam-ithc.tfvars
  infrastructure/idam-perftest.tfvars
  infrastructure/idam-preview.tfvars
  infrastructure/idam-prod.tfvars
  infrastructure/idam-saat.tfvars
  infrastructure/idam-sandbox.tfvars
  infrastructure/idam-sprod.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-845

#847 SIDM-8260: Fix sonar
  src/main/java/uk/gov/hmcts/reform/idam/web/config/IdamWebMvcConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelper.java
  src/test/java/uk/gov/hmcts/reform/idam/web/helper/JSPHelperTest.java
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-847

#849 Upgraded Spring Boot and OWASP dependency check plugin
  dependency-check-suppressions.xml
  gradle/libs.versions.toml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-849

#850 Fix Jenkins pipelines
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-850
