Repository hmcts/idam-web-public, pull requests merged in 2025-03, with the labels that each got.

#1384 SIDM 9-12-0 Downgrade pitest
  build.gradle
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-1384

#1397 SIDM-9681-Updated SSCS Contact details
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/contactus.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-1397

#1398 SIDM-9703 Make renovate ignore pitest
  renovate.json
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-1398

#1400 SIDM-9710 prevent otp double click
  src/main/webapp/WEB-INF/jsp/verification.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-1400

#1394 CME-432: HELM OCI IDAM - idam-web-public/Chart.yaml
  charts/idam-web-public/Chart.yaml
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-1394

#1401 SIDM-9681-SIDM-9717-Updated SSCS and Immigration and Asylum Contact details
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/contactus.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-1401

#1404 SIDM-9703 move renovate
  .github/renovate.json
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-1404

#1405 SIDM 9.12.1 RC1
  .github/renovate.json
  build.gradle
  charts/idam-web-public/Chart.yaml
  gradle/jira.gradle
  gradle/libs.versions.toml
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/contactus.jsp
  src/main/webapp/WEB-INF/jsp/verification.jsp
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-1405
