Repository hmcts/idam-web-public, pull requests merged in 2025-02, with the labels that each got.

#1354 SIDM-9632-Amend accessibility statement and contact us page
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/accessibilityStatement.jsp
  src/main/webapp/WEB-INF/jsp/contactus.jsp
  src/test/js/shared/idam_helper.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-1354

#1364 IDAM 9.11.0 - RC1
  Jenkinsfile_nightly_sandbox
  build.gradle
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  package.json
  src/main/resources/messages.properties
  src/main/resources/messages_cy.properties
  src/main/webapp/WEB-INF/jsp/accessibilityStatement.jsp
  src/main/webapp/WEB-INF/jsp/contactus.jsp
  src/test/js/shared/idam_helper.js
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-1364

#1370 Revert yarn.lock
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-1370

#1378 Revert "Ignore ejudiciary tests (until a new SSO app is created)"
  build.gradle
  src/test/js/ejudiciary_login_test.js
Labels: ns:idam, prd:idam, rel:idam-web-public-pr-1378
